body{
    background-color: azure;
}
#ba1{
background-color: aquamarine;
font-size: x-large;
text-align: center;

}
img{
    padding: 120px;
}
#di{
    background-color: aquamarine;
font-size: x-large;
text-align: center;

}
#ka{
    padding: 20px;
    margin: 100px;
    height: 300px;
    width: 400px;

}
#sai{
    background-color: aquamarine;
font-size: x-large;
text-align: center;

}