body{
background-color: rgb(166, 201, 231);
}
#tb{
    background-color: blue;
    text-align: center;
    font-size: x-large;
}
#td{
    background-color: blue;
    text-align: center;
    font-size: x-large;

}